g(transform="translate(#{x},#{y})")
  polygon(points="25,150 75,50 275,50 225,150" stroke="#000000" fill="#FFFFFF")
  text(font-family="Helvetica Neue")
    each line, i in text
      tspan(x="150" y=85 + (i * 20) text-anchor="middle")= line
