extends layout

block content
  h1= title

  form(method="post")
    p
      label
        | Chart name
        br
        input(type="text" name="name" required)
    p
      label
        | Markup
        br
        textarea(name="markup" rows="10" required)
    p
      button(type="submit") Create chart
