extends layout

block content
  p
    a(href="/charts") Home

  h1= title

  form(method="post")
    p
      label
        | Chart name
        br
        input(type="text" name="name" required value=chart.name)
    p
      label
        | Markup
        br
        textarea(name="markup" rows="10" required)= chart.markup
    p
      button(type="submit") Save &amp; render
  #preview
  p
    a(href="/charts/#{chart._id}/svg") Get SVG
