extends layout

block content
  h1= title

  if charts.length > 0
    ul
      each chart in charts
        li
          a(href="/charts/#{chart._id}")= chart.name
  p
    a(href="/charts/create") Create one
