@import "compass/css3";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input, textarea, button {
  font: inherit;
}

input, textarea {
  display: block;
  width: 100%;
}
