body {
  font: 1em/1.375em "Helvetica Neue", sans-serif;
}

input, textarea, button {
  font: inherit;
}

h1 {
  font-weight: normal;
}

input, textarea {
  font-family: Menlo, Consolas, monospace;
  width: 60em;
}

#download {
  display: none;
}
